body, html {
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    border: none;
    background:transparent;
    
}
.cont {
    width: 750px;
    border: 7px solid rgb(72, 46, 8);
    background-color: rgb(250, 238, 215);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: -400px;
    display: block;
    margin-right: 100px;
    position: relative;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

h2 {
    color: rgb(214, 61, 5);
    font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

input[type="number"] {
    width: 50%;
    border: none;
    text-align: center;
    font-weight: bold;
/*     background-color: rgb(241, 237, 233); */
    height: 30px;
}
input[type="text"]{
    width: 50%;
}
#log{
   
    top: 1px;
    width: 100px;
}

#top {
    text-align: left;
}

#top-head {
    color: red;
    margin: 0;
    text-align: left;
}

#qr{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
}

.tab1 tr, td {
    border: 1px solid black;
    
}
.tab2 tr, td, th {
    border: 1px solid black;
    
}
#small {
    color: rgb(244, 5, 5);
    font-size: 16px;
}
.sec {
    text-align: center;
    align-items: center;
    justify-content: center;
}
#dat{
    text-align: left;
    
}
#sign{
    text-align: right;
    position: absolute;
    top: 90%;
    right: 10px;
}

